html, body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  width: 100vw;
  margin: 0px;
}

#navbar {
  position: fixed;
  min-width: 290;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  display: block;
  margin-top: 0;
  background-color: #faf9f6;
  z-index: 5;
}

#navbar h1 {
height: 10%;
border-bottom: solid;
font-size: 40px;
background-color: #D3D3D3;
margin-top: 0px;
margin-bottom: 0px;
padding-left: 50px;
padding-top: 20px;
}

#navbar a {
  display: block;
  font-size: 15;
  color: #4d4e53;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: solid;
  text-decoration: none;
  padding: 10px 20px;
}

#navbar a:hover {
  text-decoration: underline !important;
}


main {
  display: block;
  position: relative;
  margin-left: 310px;
  padding: 0px 0px 20px 20px;
}

section h2 {
  font-weight: bold;
  font-size: 30px;
}

section p {
font-size: 17px;
background-color: #f7f7f7;
padding: 15px;
}

footer {
  position: absolute;
  background-color: #D3D3D3;
  width: 100vw;
  height: 10%;
  z-index: 10;
  border-top: solid;
}

@media screen and (max-width: 630px) {
  #navbar {
    display: none;
  }
  main {
    margin-left: 0px;
    width: 100%;
  }
}